.big-hits {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;

    &__heading {
        color: var(--text-color-primary);
        margin: 2rem 0;
        font-size: 1.6rem;
        font-weight: 800;
        letter-spacing: 1px;
    }
}