@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}


:root {
    --color-bg: #000;
    --color-card-bg: #1c1c1c;
    --color-card-bg-light: #323232;
    --color-discover-bg: linear-gradient(to bottom right, #176284, #0B6977);

    --color-divider-bg: #2a2929;
    --color-shadow-bg: box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    --color-shadow-bg-max: box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    --card-height: 17rem;

    --text-color-primary: #fff;

    --nav-bar-width: 240px;
    --primary-height: 100vh;
}

.navlink {
    color: var(--text-color-primary);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: #dad6d6;
    }
}