.search {
    background-color: var(--color-discover-bg);
    width: 100%;
    margin-left: var(--nav-bar-width);
    padding: 2rem 2rem 2rem 2rem;
    overflow-x: hidden;

    &__logo {
        position: absolute;
        color: var(--color-b);
        top: 2.6rem;
        left: 17.5rem;
    }

    // &__grid {
    //     display: grid;
    //     grid-template-columns: repeat(6, 1fr);
    // }

    input {
        min-width: 22rem;
        padding: .7rem;
        border-radius: 110px;
        border: none;
        outline: none;
        font-weight: 600;
        position: relative;
        padding-left: 2rem;
    }


}