.search {
    background: var(--color-discover-bg);
    width: 100%;
    margin-left: var(--nav-bar-width);
    padding: 2rem 2rem 2rem 2rem;
    overflow-x: hidden;

    &__logo {
        position: absolute;
        color: var(--color-b);
        top: 2.6rem;
        left: 17.5rem;
    }

    &__flex {
        display: flex;
        align-items: center;
        color: #fff;
    }

    &__input {
        display: flex;
        align-items: center;

        input {
            min-width: 15rem;
            padding: .7rem;
            border: none;
            outline: none;
            font-weight: 600;
            position: relative;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }

        &--btn {
            border: none;
            background-color: var(--text-color-primary);
            height: 41px;
            padding: .3rem 1rem 0 1rem;

            &-search {
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }
        }
    }
}