.sidebar {
    background-color: var(--color-bg);
    min-width: var(--nav-bar-width);
    padding: 2rem 1rem;
    position: fixed;
    height: 100vh;

    img {
        width: 72%;
        height: 45px;
        margin-bottom: 1rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;

        &--primary {
            margin-bottom: 2rem;
        }
    }

    &__actions {
        margin-bottom: 1rem;
    }

    &__button {
        color: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;


        p {
            font-size: 0.8125rem;
            font-weight: 700;
        }
    }
}